*.class
*.prefs
*.project
*.classpath
*.gen
*.tis
*.tii
*.prx
*.nrm
*.frq
*.fnm
*.fdx
*.fdt
*.json
*.ini
*.xml
*.rss
*.setup
*.log
*.index
*.history
*.dat
*.txt
*.db
*.lock
*.si
*.cfs
*.cfe
*.xmi
*.launch
*.resources
*.tree
*.version
*.markers
*.zip
.metadata/
.recommenders/
